<%= content_for :slideshowcontents do %>
<table width="774" bgcolor="#F0F0FF" class="bdr">
<tr>
    <td width="21" height="17"></td>
    <td width="25"></td>
</tr>
<tr>
	
	
        <td colspan="2" valign="top" class="t1">&raquo; About <span class="t2">rapidThink</span></td>
    </tr>
      <tr>
        <td width="459" height="8"></td>
          <td width="289"></td>
          <td width="15"></td>
        </tr>
      <tr>
        <td height="15" colspan="2" valign="top" class="content"><span class="hilighted">&quot; We have a growing list of satisfied customers,  largely a result of our focus on design.&quot;</span></td>
          <td></td>
        </tr>
      <tr>
        <td height="15"></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
        <td height="51" colspan="2" valign="top" class="content"><p>&raquo; Established in 2005, rapidThink has fast grown to establish itself in this competitive world.  </p>          <p>&raquo; We are a group of professionals with immense experience in software engineering. </p>
          <p>&raquo; This is the service we   provide you:<p  style="color:#009fde;font-weight: bold;" >&nbsp;&nbsp;rapid analysis, design and development.</p></p><br/>&nbsp;</td>

        <td></td>
        <td></td>
        </tr>
</table>
<% end %>
