<table width="774" bgcolor="#F0F0FF" class="bdr">
 <tr>
    <td width="21" height="17"></td>
    <td width="25"></td>
</tr>
        <td width="747" height="24" valign="top" class="t1">&raquo; Careers <span class="t2">at rapidThink</span></td>
        </tr>
      <tr>
        <td height="12"></td>
        </tr>
      
      <tr>
        <td height="23" colspan="2" valign="top" class="content">We are looking for professionals with following skills for our Chennai office.</td>
      </tr>
      <tr>
        <td class="t3">
              <p>Career code : <b  >WC12-2013</b></p>
        </td>
      </tr>
      <tr>
        <td height="10" class="content">
            <ul style="line-height:17px">
              <li>.NET development, including ASP.NET, C# and AJAX</li>
              <li>At least 1 year of experience is preferred</li>
              <li>Knowledge of SQL</li>
              <li>Experience in Microsoft SQL Server, MySQL or Oracle is a plus</li>
            </ul>
        </td>
      </tr>
      
      
</table>
