
<table width="774" bgcolor="#F0F0FF" class="bdr">
  <!--DWLayoutTable-->
  
  <tr>
    <td height="338"></td>
    <td valign="top"><table width="763" border="0" cellpadding="0" cellspacing="0">
      <!--DWLayoutTable-->
      
      
      <tr>
        <td height="24" colspan="4" valign="top" class="t1">&raquo; Contact <span class="t2">rapidThink</span></td>
    </tr>
      <tr>
        <td width="491" height="10"></td>
          <td width="21"></td>
          <td width="236"></td>
          <td width="15"></td>
        </tr>
      <tr>
        <td height="17" colspan="3" valign="top" class="content"><span class="hilighted">Thank you for wanting to know more about rapidThink. </span></td>
          <td></td>
        </tr>
      <tr>
        <td height="11"></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <tr>
          <td height="60" colspan="3" valign="top" class="content" style="line-height:25px"><p align="left"><b class="t3">Registered Office:</b></p>
              <p align="left"><b>rapidThink Software India Private Limited</b><br>Second Floor, New no. 8, Old no. 32,<br>Second Main Road, CIT Nagar East,<br>Chennai, India - 600 035.<br>Phone : +91 (44) 2432 0405</p>
          </td>
          <td></td>
        </tr>
    </table>
