
<table width="774" bgcolor="#F0F0FF" class="bdr">
<tr>
    <td width="21" height="17"></td>
    <td width="25"></td>
</tr>
<tr>
    <td height="22"></td>
    <td colspan="2" valign="top" class="t3">&nbsp; At rapidThink you get </td>
</tr>
<tr>
    <td height="277"></td>
    <td>&nbsp;</td>
    <td colspan="2" valign="top" class="content" style="line-height:30px"><p>&raquo;&nbsp; Software designed to perform the way you want it to<br />
    &raquo;&nbsp; Developed to fulfill your needs<br />
    &raquo;&nbsp; Online and offline support<br />
    &raquo;&nbsp; Software designed, implemented and optimized to exact specifications<br />
    &raquo;&nbsp; Accurate scoping and on-time delivery<br />
    &raquo;&nbsp; Complete, end-to-end solutions<br /></td>
</tr>
</table></td>

