
<table width="774" bgcolor="#F0F0FF" class="bdr">
  
  
  <tr>
    <td height="24"></td>
    <td valign="top" class="t1">&raquo; Our <span class="t2">Services</span></td>
        <td></td>
    <td></td>
  </tr>
  <tr>
    <td height="8"></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td height="17"></td>
    <td valign="top" class="content"><span class="hilighted">&quot;The service we provide you:  rapid analysis, design and development.&quot; </span></td>
          <td></td>
    <td></td>
  </tr>
  <tr>
    <td height="14"></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td height="23"></td>
    <td colspan="2" valign="top" class="content">We provide custom software development services. We   handle all stages of the software development process:</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="8"></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td height="326"></td>
    <td colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      
      
      <tr>
        <td width="718" height="326" valign="top" class="content">
            <ul style="line-height:17px">
              <li> Requirements gathering</li>
              <li> Analysis </li>
              <li> Design and documentation</li>
              <li> Code development and code documentation</li>
              <li> Testing</li>
              <li> Delivery and support</li>
            </ul>
            
            </td>
        </tr>
      
      
    </table></td>
    
</table>


