<%= form_for :user, :url=>{:action=>'forgot_password'} do |f| %>
<div id="loginwindow1">
<center><h3>Forgotten password</h3><br/></br>

Email: <%= f.text_field :email %><br/><br/></br>

<%= f.submit 'Email password', :id=>"button" %></center>
</div>
<% end %>
